# Ignore output files
*~
*.o
*.swp
Makefile*
qt-makefile*
moc_*
qrc_resources.cpp
debug
release
object_script*
metabolism*
metabolism.app
Chemical Metabolism Simulator
Chemical Metabolism Simulator.app

# Ignore Mac directory information
.DS_Store

# Ignore any data files created by the simulation
data
*.out
*.pdf
.Rhistory

