# Ignore output files
*~
*.o
*.swp
Makefile*
moc_*
qrc_resources.cpp
debug
release
object_script*
metabolism
metabolism-no-ncurses
metabolism.app
Chemical Metabolism Simulator
Chemical Metabolism Simulator.app

# Ignore Mac directory information
.DS_Store

# Ignore any data files created by the simulation
data
*.out
*.pdf
.Rhistory

