# ignore output files
Makefile*
*.o
*~
*.swp
.Rhistory
moc_*
qrc_resources.cpp
metabolism
metabolism.app
Chemical Metabolism Simulator
Chemical Metabolism Simulator.app
debug
release
object_script*

# ignore mac directory information
.DS_Store

# ignore any data files we've created
*.out
*.pdf
data/
